{{ hello }}

<a href="{% url 'index' %}">back</a><br /><br />

{% for response,data in responses.items %}
    {{response}}:
    {% if response == 'species' %}
        {% for i in response_species %}
            <a href="/sw-api/species/{{i.url|make_list|slice:'29:'|slice:':-1'|join:''}}">{{i.name}}</a>
        {% endfor %}
    {% elif response == 'films' %}
        {% for i in response_films %}
            <a href="/sw-api/films/{{ i.url|make_list|slice:'27:'|slice:':-1'|join:'' }}">{{i.title}}</a>
        {% endfor %}
    {% elif response == 'starships' %}
        {% for i in response_starship %}
            <a href="/sw-api/starships/{{ i.url|make_list|slice:'31:'|slice:':-1'|join:'' }}">{{i.name}}</a>
        {% endfor %}
    {% elif response == 'vehicles' %}
        {% for i in response_vehicle %}
            <a href="/sw-api/vehicles/{{ i.url|make_list|slice:'30:'|slice:':-1'|join:'' }}">{{i.name}}</a>
        {% endfor %}
    {% elif response == 'homeworld' %}
        <a href="{% url 'planets:detail' response_planets.url|make_list|slice:'29:'|slice:':-1'|join:'' %}">{{response_planets.name}}</a>
    {% else %}
        {{ data }}
    {% endif %}
    <br />
{% endfor %}
