{{ hello }}

<a href="{% url 'index' %}">back</a><br /><br />
{{ responses.films }}<br/><br/>

{% for response,data in responses.items %}
    {{response}}:
    {% if response == 'people' %}
        {% for dat in data %}
            <a href="{% url 'people:detail' response_people.url|make_list|slice:'28:'|slice:':-1'|join:'' %}">{{response_people.name}}</a>
        {% endfor %}
    {% elif response == 'films' %}
        {% for i in response_films %}
            <a href="">{{i.title}}</a>
            {{response_films.url|make_list|slice:'27:'|slice:':-1'|join:'' }}
        {% endfor %}
    {% else %}
        {{ data }}
    {% endif %}
    <br />
{% endfor %}
